* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

td {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  text-align: center;
}

table {
  margin: 0 auto;
}

button {
  width: 40px;
  height: 40px;
  text-align: center;
  color: green;
}

p {
  margin: 0 auto;
}
