* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: linear-gradient(white, lightgrey);
  background-size: cover;
  height: 100%;
}

body {
  margin: 0 auto;
  width: fit-content;
}

tr {
  display: flex;
}

td {
  align-items: center;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: inset 2px 2px 3px white, inset -2px -2px 3px black;
  display: flex;
  font-weight: bold;
  height: 40px;
  justify-content: center;
  width: 40px;
}

td:hover {
  background-color: white;
}

table {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

button,
select,
.timer {
  align-items: center;
  background: lightgrey;
  border: 1px solid grey;
  border-radius: 5px;
  color: blue;
  display: flex;
  height: 40px;
  justify-content: center;
  margin: 0 3px;
  width: 40px;
}

button:hover {
  background-color: red;
  color: white;
}

button.custom {
  width: 50px;
}

button.custom:hover {
  background-color: white;
  color: black;
}

select {
  width: 160px;
}

select:hover {
  background-color: white;
}

p {
  margin: 0 auto;
}

.selected {
  box-shadow: 0 0 0 black;

}

.selected:hover {
  background-color: lightgrey;
}

#custom-menu input {
  width: 40px;
  height: 40px;
  font-size: 16px;
  text-align: center;
}

#custom-menu button:hover {
  background-color: white;
  color: black;
}

#custom-menu,
#hud {
  align-items: center;
  background-color: lightgrey;
  border: 2px solid black;
  border-bottom-width: 0px;
  box-shadow: inset 2px 2px 3px white, inset -2px -2px 3px black;
  display: flex;
  height: 60px;
}

#custom-menu {
  display: none;
  justify-content: center;
}

#difficultySelect {
  margin: 40px 0 0 0;
}
